/* line 1, ../sass/login.scss */
.login {
  margin: 50px 0 0 0;
  position: relative;
  z-index: 10000;
  display: inline-block;
  width: 100%;
}
/* line 9, ../sass/login.scss */
.login.register form .form-group {
  margin-left: -10px;
  margin-right: -10px;
}
/* line 12, ../sass/login.scss */
.login.register form .form-group label {
  font-size: 10px;
  font-weight: 800;
  top: 0px !important;
  left: 15px !important;
}
/* line 17, ../sass/login.scss */
.login.register form .form-group label:before {
  display: none !important;
}
/* line 21, ../sass/login.scss */
.login.register form .form-group input {
  padding-top: 9px;
  padding-left: 24px;
  font-weight: 800;
  font-size: 14px;
}
/* line 30, ../sass/login.scss */
.login:after {
  content: " ";
  background: url(../images/bg.png) no-repeat;
  background-size: cover;
  display: inline-block;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -240;
  left: 0;
  top: 0;
}
/* line 43, ../sass/login.scss */
.login form .form-group {
  position: relative;
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: 20px;
}
/* line 48, ../sass/login.scss */
.login form .form-group label {
  position: absolute;
  left: 20px;
  top: 6px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: .15px;
  color: rgba(0, 0, 0, 0.65);
  -webkit-transition: .2s;
  -o-transition: .2s;
  -ms-transition: .2s;
  -moz-transition: .2s;
  padding: 5px 10px;
}
/* line 63, ../sass/login.scss */
.login form .form-group label[for="inputEmail"] {
  top: 6px;
}
/* line 65, ../sass/login.scss */
.login form .form-group label[for="inputEmail"]:before {
  content: "\e008";
  font-family: 'Glyphicons Halflings';
  display: inline-block;
  margin-right: 10px;
  position: relative;
  top: 2px;
}
/* line 74, ../sass/login.scss */
.login form .form-group label[for="inputPassword"] {
  top: 5px;
}
/* line 76, ../sass/login.scss */
.login form .form-group label[for="inputPassword"]:before {
  content: "\e033";
  font-family: 'Glyphicons Halflings';
  display: inline-block;
  margin-right: 10px;
  position: relative;
  top: 2px;
}
/* line 86, ../sass/login.scss */
.login form .form-group input {
  border-radius: 50px;
  height: 50px;
  font-weight: 300;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 15px;
  padding: 0 0 0 25px;
}
/* line 93, ../sass/login.scss */
.login form .form-group input:focus + label {
  top: -14px;
  background: white;
  border-radius: 15px;
  -webkit-transform: scale(0.75);
  -ms-transform: scale(0.75);
  -o-transform: scale(0.75);
  -moz-transform: scale(0.75);
}
/* line 105, ../sass/login.scss */
.login form .submit button {
  width: 100%;
  border: none;
  background: #FF931E;
  color: white;
  font-family: 'Open Sans Condensed', sans-serif;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 800;
  padding: 10px 0;
  border-radius: 40px;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5) !important;
  letter-spacing: 1px;
  -webkit-transition: .2s;
  -o-transition: .2s;
  -ms-transition: .2s;
  -moz-transition: .2s;
}
/* line 122, ../sass/login.scss */
.login form .submit button:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  -moz-transform: scale(1.05);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
}
/* line 129, ../sass/login.scss */
.login form .submit button:focus {
  background-color: #FF931E;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  -moz-transform: scale(1);
  box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.65);
}
/* line 139, ../sass/login.scss */
.login form .forgot {
  text-align: center;
  margin: 20px 0 0 0;
}
/* line 142, ../sass/login.scss */
.login form .forgot a {
  font-family: 'Open Sans Condensed', sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 800;
  color: white;
  opacity: .5;
}
/* line 149, ../sass/login.scss */
.login form .forgot a:hover {
  opacity: 1;
}
/* line 155, ../sass/login.scss */
.login .details {
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 300;
  color: white;
}
/* line 162, ../sass/login.scss */
.login .details .btn-primary {
  font-family: 'Open Sans Condensed', sans-serif;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 800;
  color: white;
  background-color: transparent !important;
  border: none !important;
  box-shadow: none;
  text-shadow: none !important;
  text-decoration: underline;
  opacity: .75;
  display: block;
}
/* line 175, ../sass/login.scss */
.login .details .btn-primary:hover {
  opacity: 1;
}
/* line 179, ../sass/login.scss */
.login .details .btn-info {
  font-family: 'Open Sans Condensed', sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 800;
  color: white;
  background: transparent;
  border: none;
  box-shadow: none;
  text-shadow: none;
  opacity: .75;
  display: block;
}
/* line 191, ../sass/login.scss */
.login .details .btn-info:hover {
  opacity: 1;
}

/* line 198, ../sass/login.scss */
.forgot .col-xs-12 {
  padding: 5px !important;
}
/* line 201, ../sass/login.scss */
.forgot input[ng-model="forgotPassword.email"] {
  border-radius: 50px 0 0 50px !important;
}
/* line 204, ../sass/login.scss */
.forgot .btn {
  border-radius: 0 50px 50px 0 !important;
  font-weight: 800 !important;
}
