@media screen and (max-width: 1200px) {
  /* line 5, ../sass/media.scss */
  .deals .fav-deal .inner .information {
    width: 60%;
    min-height: 205px;
  }
  /* line 11, ../sass/media.scss */
  .deals .fav-deal .inner .ratings .buttons .like_btn {
    height: 50.5%;
  }
  /* line 14, ../sass/media.scss */
  .deals .fav-deal .inner .ratings .buttons .hide_btn {
    height: 50.5%;
  }
}
@media screen and (max-width: 991px) {
  /* line 24, ../sass/media.scss */
  body {
    background-color: green;
  }

  /* line 27, ../sass/media.scss */
  .deals {
    width: 100% !important;
  }
  /* line 29, ../sass/media.scss */
  .deals .fav-deal {
    background: transparent;
  }
  /* line 33, ../sass/media.scss */
  .deals .fav-deal .inner .business-image img {
    width: 112%;
    min-height: 205px;
    -webkit-mask-size: 106% 101%;
    mask-size: 106% 101%;
    top: 0px;
  }
  /* line 39, ../sass/media.scss */
  .deals .fav-deal .inner .business-image img:after {
    width: 125%;
    height: 120%;
    top: 0px;
  }
  /* line 47, ../sass/media.scss */
  .deals .fav-deal .inner .information p {
    font-size: 16px;
  }
}
@media screen and (max-width: 600px) {
  /* line 57, ../sass/media.scss */
  .deals .fav-deal {
    border-radius: 50px;
  }
  /* line 60, ../sass/media.scss */
  .deals .fav-deal .inner .business-image {
    left: -10px;
    top: 30px;
  }
  /* line 63, ../sass/media.scss */
  .deals .fav-deal .inner .business-image:after {
    left: 6px;
    width: 90%;
    height: 111%;
  }
  /* line 68, ../sass/media.scss */
  .deals .fav-deal .inner .business-image img {
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    width: 80%;
  }
  /* line 74, ../sass/media.scss */
  .deals .fav-deal .inner .information {
    text-align: center;
    padding: 0 0 0 0;
  }
  /* line 77, ../sass/media.scss */
  .deals .fav-deal .inner .information a {
    font-size: 18px;
  }
  /* line 80, ../sass/media.scss */
  .deals .fav-deal .inner .information p {
    font-size: 24px;
  }
  /* line 85, ../sass/media.scss */
  .deals .fav-deal .inner .more .amount {
    font-size: 18px;
    margin-bottom: 5px;
  }
  /* line 89, ../sass/media.scss */
  .deals .fav-deal .inner .more .share {
    font-size: 18px;
  }
  /* line 93, ../sass/media.scss */
  .deals .fav-deal .inner .ratings {
    margin-top: 10px;
  }
  /* line 95, ../sass/media.scss */
  .deals .fav-deal .inner .ratings .buttons {
    width: 100%;
    height: auto;
  }
  /* line 98, ../sass/media.scss */
  .deals .fav-deal .inner .ratings .buttons .like_btn {
    height: auto;
  }
  /* line 100, ../sass/media.scss */
  .deals .fav-deal .inner .ratings .buttons .like_btn button {
    border-radius: 25px 25px 0 0;
    padding: 0px 0 10px 0;
    text-align: center;
  }
  /* line 104, ../sass/media.scss */
  .deals .fav-deal .inner .ratings .buttons .like_btn button img {
    display: block;
    width: 35%;
    left: 0;
    margin-top: 20px;
  }
  /* line 110, ../sass/media.scss */
  .deals .fav-deal .inner .ratings .buttons .like_btn button p {
    display: inline-block;
    font-size: 25px;
    margin-bottom: 0;
    top: 0px;
    position: relative;
    left: 0;
  }
  /* line 120, ../sass/media.scss */
  .deals .fav-deal .inner .ratings .buttons .hide_btn {
    height: auto;
  }
  /* line 122, ../sass/media.scss */
  .deals .fav-deal .inner .ratings .buttons .hide_btn button {
    border-radius: 0 0 25px 25px;
    padding: 5px 0 10px 0;
    text-align: center;
  }
  /* line 126, ../sass/media.scss */
  .deals .fav-deal .inner .ratings .buttons .hide_btn button img {
    display: block;
    width: 35%;
    left: 0;
    margin-top: 10px;
  }
  /* line 132, ../sass/media.scss */
  .deals .fav-deal .inner .ratings .buttons .hide_btn button p {
    text-align: center;
    display: inline-block;
    font-size: 25px;
    margin-bottom: 0;
    left: 0;
    top: 0px;
    position: relative;
  }
  /* line 145, ../sass/media.scss */
  .deals .fav-deal .inner .social {
    left: 40px;
    right: inherit;
    bottom: 20px;
    text-align: center;
  }

  /* line 155, ../sass/media.scss */
  .modal .modal-dialog {
    min-width: 90%;
  }
  /* line 161, ../sass/media.scss */
  .modal .modal-dialog .modal-content .fav-deal .inner .business-image:after {
    width: 90%;
    left: 5%;
    height: 120%;
  }
  /* line 166, ../sass/media.scss */
  .modal .modal-dialog .modal-content .fav-deal .inner .business-image img {
    width: 80%;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }
  /* line 171, ../sass/media.scss */
  .modal .modal-dialog .modal-content .fav-deal .inner .business-image .amount {
    position: relative;
    top: 20px;
  }
  /* line 176, ../sass/media.scss */
  .modal .modal-dialog .modal-content .fav-deal .inner .information {
    margin-top: 60px;
    padding: 0;
    text-align: center;
  }
  /* line 180, ../sass/media.scss */
  .modal .modal-dialog .modal-content .fav-deal .inner .information .fave {
    position: relative;
    right: 0;
  }
  /* line 183, ../sass/media.scss */
  .modal .modal-dialog .modal-content .fav-deal .inner .information .fave button {
    width: 100%;
    font-size: 20px;
  }
  /* line 187, ../sass/media.scss */
  .modal .modal-dialog .modal-content .fav-deal .inner .information .fave span {
    font-size: 12px;
  }
  /* line 191, ../sass/media.scss */
  .modal .modal-dialog .modal-content .fav-deal .inner .information a {
    font-size: 18px;
    margin-top: 35px;
  }
  /* line 195, ../sass/media.scss */
  .modal .modal-dialog .modal-content .fav-deal .inner .information p {
    font-size: 28px;
  }
  /* line 199, ../sass/media.scss */
  .modal .modal-dialog .modal-content .fav-deal .inner .information .more .full-desc {
    font-size: 16px;
  }
  /* line 201, ../sass/media.scss */
  .modal .modal-dialog .modal-content .fav-deal .inner .information .more .full-desc a {
    font-size: 16px;
  }
  /* line 206, ../sass/media.scss */
  .modal .modal-dialog .modal-content .fav-deal .inner .information .buttons {
    left: 0;
    width: 100%;
  }
  /* line 209, ../sass/media.scss */
  .modal .modal-dialog .modal-content .fav-deal .inner .information .buttons li {
    width: 100%;
    margin-bottom: 5px;
  }
  /* line 212, ../sass/media.scss */
  .modal .modal-dialog .modal-content .fav-deal .inner .information .buttons li button {
    width: 100%;
    font-size: 16px;
  }

  /* line 224, ../sass/media.scss */
  .search_outer {
    width: 100%;
    max-width: 100%;
  }

  /* line 228, ../sass/media.scss */
  .v-options-container-outer {
    width: 100%;
    max-width: 100%;
  }
}
@media screen and (max-width: 670px) {
  /* line 237, ../sass/media.scss */
  .deals .fav-deal .inner {
    background: white;
    border-radius: 10px;
  }
  /* line 240, ../sass/media.scss */
  .deals .fav-deal .inner .business-image {
    left: 0;
    top: 20px;
    right: 0;
    text-align: center;
    width: 40%;
    max-width: 150px;
    margin: 0 auto;
    display: block;
  }
  /* line 249, ../sass/media.scss */
  .deals .fav-deal .inner .business-image:after {
    left: 6px;
    width: 100%;
    height: 100%;
  }
  /* line 254, ../sass/media.scss */
  .deals .fav-deal .inner .business-image img {
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    width: 100%;
    min-height: auto;
  }
  /* line 261, ../sass/media.scss */
  .deals .fav-deal .inner .information {
    margin-top: 20px;
    width: 50%;
    margin-left: 10%;
    padding-left: 0;
    text-align: left;
  }
  /* line 267, ../sass/media.scss */
  .deals .fav-deal .inner .information .company {
    margin-top: 25px;
    display: inline-block;
    font-size: 25px;
  }
  /* line 272, ../sass/media.scss */
  .deals .fav-deal .inner .information p {
    font-size: 25px;
  }
  /* line 275, ../sass/media.scss */
  .deals .fav-deal .inner .information .more {
    left: -85%;
    width: 190%;
    top: 170px;
    position: absolute !important;
    padding: 0;
    border-top: none;
  }
  /* line 282, ../sass/media.scss */
  .deals .fav-deal .inner .information .more .amount {
    width: 45%;
  }
  /* line 285, ../sass/media.scss */
  .deals .fav-deal .inner .information .more .share {
    width: 45%;
  }
  /* line 290, ../sass/media.scss */
  .deals .fav-deal .inner .ratings {
    width: 100%;
    padding: 0;
    height: auto;
    margin: 40px 0 50px;
  }
  /* line 295, ../sass/media.scss */
  .deals .fav-deal .inner .ratings .buttons {
    width: 100%;
  }
  /* line 298, ../sass/media.scss */
  .deals .fav-deal .inner .ratings .buttons .like_btn button {
    height: 50px;
    border-radius: 15px 15px 0 0;
  }
  /* line 301, ../sass/media.scss */
  .deals .fav-deal .inner .ratings .buttons .like_btn button img {
    width: 8%;
    display: inline-block;
    top: -3px;
  }
  /* line 306, ../sass/media.scss */
  .deals .fav-deal .inner .ratings .buttons .like_btn button p {
    top: 4px;
    position: relative;
    font-size: 23px;
  }
  /* line 314, ../sass/media.scss */
  .deals .fav-deal .inner .ratings .buttons .hide_btn button {
    height: 50px;
    border-radius: 0 0 15px 15px;
  }
  /* line 317, ../sass/media.scss */
  .deals .fav-deal .inner .ratings .buttons .hide_btn button img {
    display: inline-block;
    width: 8%;
    top: 3px;
  }
  /* line 322, ../sass/media.scss */
  .deals .fav-deal .inner .ratings .buttons .hide_btn button p {
    top: -2px;
    position: relative;
    font-size: 23px;
  }
  /* line 331, ../sass/media.scss */
  .deals .fav-deal .inner .social {
    left: 40px;
    right: inherit;
    bottom: 20px;
    text-align: center;
  }

  /* line 341, ../sass/media.scss */
  .modal .modal-dialog {
    min-width: 90%;
  }
  /* line 347, ../sass/media.scss */
  .modal .modal-dialog .modal-content .fav-deal .inner .business-image:after {
    width: 90%;
    left: 5%;
    height: 120%;
  }
  /* line 352, ../sass/media.scss */
  .modal .modal-dialog .modal-content .fav-deal .inner .business-image img {
    width: 80%;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }
  /* line 357, ../sass/media.scss */
  .modal .modal-dialog .modal-content .fav-deal .inner .business-image .amount {
    position: relative;
    top: 20px;
  }
  /* line 362, ../sass/media.scss */
  .modal .modal-dialog .modal-content .fav-deal .inner .information {
    margin-top: 60px;
    padding: 0;
    text-align: center;
  }
  /* line 366, ../sass/media.scss */
  .modal .modal-dialog .modal-content .fav-deal .inner .information .fave {
    position: relative;
    right: 0;
  }
  /* line 369, ../sass/media.scss */
  .modal .modal-dialog .modal-content .fav-deal .inner .information .fave button {
    width: 100%;
    font-size: 20px;
  }
  /* line 373, ../sass/media.scss */
  .modal .modal-dialog .modal-content .fav-deal .inner .information .fave span {
    font-size: 12px;
  }
  /* line 377, ../sass/media.scss */
  .modal .modal-dialog .modal-content .fav-deal .inner .information a {
    font-size: 18px;
    margin-top: 35px;
  }
  /* line 381, ../sass/media.scss */
  .modal .modal-dialog .modal-content .fav-deal .inner .information p {
    font-size: 28px;
  }
  /* line 385, ../sass/media.scss */
  .modal .modal-dialog .modal-content .fav-deal .inner .information .more .full-desc {
    font-size: 16px;
  }
  /* line 387, ../sass/media.scss */
  .modal .modal-dialog .modal-content .fav-deal .inner .information .more .full-desc a {
    font-size: 16px;
  }
  /* line 392, ../sass/media.scss */
  .modal .modal-dialog .modal-content .fav-deal .inner .information .buttons {
    left: 0;
    width: 100%;
  }
  /* line 395, ../sass/media.scss */
  .modal .modal-dialog .modal-content .fav-deal .inner .information .buttons li {
    width: 100%;
    margin-bottom: 5px;
  }
  /* line 398, ../sass/media.scss */
  .modal .modal-dialog .modal-content .fav-deal .inner .information .buttons li button {
    width: 100%;
    font-size: 16px;
  }
}
@media screen and (max-width: 450px) {
  /* line 416, ../sass/media.scss */
  .deals .fav-deal .inner .information .company {
    margin-top: 0;
    font-size: 18px;
  }
  /* line 420, ../sass/media.scss */
  .deals .fav-deal .inner .information p {
    font-size: 20px;
  }
  /* line 423, ../sass/media.scss */
  .deals .fav-deal .inner .information .more {
    left: -95%;
    width: 190%;
    top: 150px;
  }
  /* line 427, ../sass/media.scss */
  .deals .fav-deal .inner .information .more .amount {
    width: 45%;
  }
  /* line 430, ../sass/media.scss */
  .deals .fav-deal .inner .information .more .share {
    width: 45%;
  }
  /* line 435, ../sass/media.scss */
  .deals .fav-deal .inner .ratings {
    width: 100%;
    padding: 0;
    height: auto;
    margin: 30px 0 50px;
  }
  /* line 440, ../sass/media.scss */
  .deals .fav-deal .inner .ratings .buttons {
    width: 100%;
  }
  /* line 443, ../sass/media.scss */
  .deals .fav-deal .inner .ratings .buttons .like_btn button {
    height: 50px;
    border-radius: 15px 15px 0 0;
  }
  /* line 446, ../sass/media.scss */
  .deals .fav-deal .inner .ratings .buttons .like_btn button img {
    width: 8%;
    display: inline-block;
    top: -10px;
  }
  /* line 451, ../sass/media.scss */
  .deals .fav-deal .inner .ratings .buttons .like_btn button p {
    top: 4px;
    position: relative;
    font-size: 23px;
  }
  /* line 459, ../sass/media.scss */
  .deals .fav-deal .inner .ratings .buttons .hide_btn button {
    height: 50px;
    border-radius: 0 0 15px 15px;
  }
  /* line 462, ../sass/media.scss */
  .deals .fav-deal .inner .ratings .buttons .hide_btn button img {
    display: inline-block;
    width: 8%;
    top: -3px;
  }
  /* line 467, ../sass/media.scss */
  .deals .fav-deal .inner .ratings .buttons .hide_btn button p {
    top: -2px;
    position: relative;
    font-size: 23px;
  }
  /* line 476, ../sass/media.scss */
  .deals .fav-deal .inner .social {
    left: 40px;
    right: inherit;
    bottom: 20px;
    text-align: center;
  }

  /* line 486, ../sass/media.scss */
  .modal .modal-dialog {
    min-width: 90%;
  }
  /* line 492, ../sass/media.scss */
  .modal .modal-dialog .modal-content .fav-deal .inner .business-image:after {
    width: 90%;
    left: 5%;
    height: 120%;
  }
  /* line 497, ../sass/media.scss */
  .modal .modal-dialog .modal-content .fav-deal .inner .business-image img {
    width: 80%;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }
  /* line 502, ../sass/media.scss */
  .modal .modal-dialog .modal-content .fav-deal .inner .business-image .amount {
    position: relative;
    top: 20px;
  }
  /* line 507, ../sass/media.scss */
  .modal .modal-dialog .modal-content .fav-deal .inner .information {
    margin-top: 60px;
    padding: 0;
    text-align: center;
  }
  /* line 511, ../sass/media.scss */
  .modal .modal-dialog .modal-content .fav-deal .inner .information .fave {
    position: relative;
    right: 0;
  }
  /* line 514, ../sass/media.scss */
  .modal .modal-dialog .modal-content .fav-deal .inner .information .fave button {
    width: 100%;
    font-size: 20px;
  }
  /* line 518, ../sass/media.scss */
  .modal .modal-dialog .modal-content .fav-deal .inner .information .fave span {
    font-size: 12px;
  }
  /* line 522, ../sass/media.scss */
  .modal .modal-dialog .modal-content .fav-deal .inner .information a {
    font-size: 18px;
    margin-top: 35px;
  }
  /* line 526, ../sass/media.scss */
  .modal .modal-dialog .modal-content .fav-deal .inner .information p {
    font-size: 28px;
  }
  /* line 530, ../sass/media.scss */
  .modal .modal-dialog .modal-content .fav-deal .inner .information .more .full-desc {
    font-size: 16px;
  }
  /* line 532, ../sass/media.scss */
  .modal .modal-dialog .modal-content .fav-deal .inner .information .more .full-desc a {
    font-size: 16px;
  }
  /* line 537, ../sass/media.scss */
  .modal .modal-dialog .modal-content .fav-deal .inner .information .buttons {
    left: 0;
    width: 100%;
  }
  /* line 540, ../sass/media.scss */
  .modal .modal-dialog .modal-content .fav-deal .inner .information .buttons li {
    width: 100%;
    margin-bottom: 5px;
  }
  /* line 543, ../sass/media.scss */
  .modal .modal-dialog .modal-content .fav-deal .inner .information .buttons li button {
    width: 100%;
    font-size: 16px;
  }
}
