/* line 2, ../sass/modal.scss */
.modal .modal-dialog {
  min-width: 800px;
  position: relative;
  margin-top: 50px;
}
/* line 6, ../sass/modal.scss */
.modal .modal-dialog .close {
  position: absolute;
  top: -30px;
  opacity: .5;
  right: -30px;
  color: white;
  font-size: 35px;
}
/* line 13, ../sass/modal.scss */
.modal .modal-dialog .close:hover {
  opacity: 1;
}
/* line 17, ../sass/modal.scss */
.modal .modal-dialog .modal-content {
  overflow: hidden;
  background: white;
  border-radius: 50px;
}
/* line 21, ../sass/modal.scss */
.modal .modal-dialog .modal-content .bg_image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  overflow: hidden;
}
/* line 27, ../sass/modal.scss */
.modal .modal-dialog .modal-content .bg_image img {
  width: 100%;
  opacity: .05;
}
/* line 32, ../sass/modal.scss */
.modal .modal-dialog .modal-content .fav-deal {
  border-radius: 20px;
}
/* line 35, ../sass/modal.scss */
.modal .modal-dialog .modal-content .fav-deal .inner .business-image {
  padding: 0;
  height: 100%;
  position: relative;
  left: 0;
  top: 35px;
}
/* line 41, ../sass/modal.scss */
.modal .modal-dialog .modal-content .fav-deal .inner .business-image:after {
  content: '';
  width: 93%;
  height: 105%;
  background: url(../images/orange_bg_2.png) no-repeat;
  background-size: 100% 83%;
  display: inline-block;
  position: absolute;
  top: -5%;
  left: -1%;
  z-index: 00;
}
/* line 53, ../sass/modal.scss */
.modal .modal-dialog .modal-content .fav-deal .inner .business-image img {
  margin: 0 auto;
  display: block;
  width: 90%;
  height: auto;
  -webkit-mask-image: url(../images/mask.png);
  mask-image: url(../images/mask.png);
  -webkit-mask-position: left left;
  mask-position: left left;
  -webkit-mask-size: 90% 90%;
  mask-size: 90% 90%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  position: relative;
  z-index: 1;
  border-radius: 150px 0 150px 150px;
  overflow: hidden;
}
/* line 71, ../sass/modal.scss */
.modal .modal-dialog .modal-content .fav-deal .inner .business-image .amount {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #f7931e;
  font-weight: 700;
  font-size: 22px;
  text-transform: uppercase;
  text-align: center;
}
/* line 80, ../sass/modal.scss */
.modal .modal-dialog .modal-content .fav-deal .inner .information {
  padding: 20px 0 0 30px;
  position: relative;
  height: 100%;
  display: inline-block;
}
/* line 85, ../sass/modal.scss */
.modal .modal-dialog .modal-content .fav-deal .inner .information .fave {
  position: absolute;
  right: 20px;
  top: 20px;
  text-align: center;
}
/* line 90, ../sass/modal.scss */
.modal .modal-dialog .modal-content .fav-deal .inner .information .fave button {
  position: relative;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  padding: 7px 20px;
  border-radius: 30px;
  border: 2px solid #f7931e;
  background: transparent;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #f7931e;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
  -webkit-transition: .2s;
  -o-transition: .2s;
  -ms-transition: .2s;
  -moz-transition: .2s;
}
/* line 108, ../sass/modal.scss */
.modal .modal-dialog .modal-content .fav-deal .inner .information .fave button:hover {
  background: #f7931e;
  /* Old browsers */
  background: -moz-linear-gradient(left, #f7931e 0%, #8d3107 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #f7931e 0%, #8d3107 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #f7931e 0%, #8d3107 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7931e', endColorstr='#8d3107',GradientType=0 );
  /* IE6-9 */
  color: white;
}
/* line 117, ../sass/modal.scss */
.modal .modal-dialog .modal-content .fav-deal .inner .information .fave span {
  display: block;
  font-size: 10px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.45);
  margin-top: 5px;
}
/* line 125, ../sass/modal.scss */
.modal .modal-dialog .modal-content .fav-deal .inner .information a {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #f7931e;
  font-weight: 700;
  font-size: 14px;
  margin-top: 25px;
  display: inline-block;
}
/* line 133, ../sass/modal.scss */
.modal .modal-dialog .modal-content .fav-deal .inner .information p {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
}
/* line 137, ../sass/modal.scss */
.modal .modal-dialog .modal-content .fav-deal .inner .information .more {
  border-top: 1px solid rgba(0, 0, 0, 0.15);
}
/* line 139, ../sass/modal.scss */
.modal .modal-dialog .modal-content .fav-deal .inner .information .more .full-desc {
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 14px;
  margin-top: 20px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.65);
}
/* line 146, ../sass/modal.scss */
.modal .modal-dialog .modal-content .fav-deal .inner .information .more .full-desc a {
  display: block;
  margin-top: 20px;
  font-size: 12px;
}
/* line 153, ../sass/modal.scss */
.modal .modal-dialog .modal-content .fav-deal .inner .information .buttons {
  list-style: none;
  margin: 25px 0 40px;
  display: inline-block;
  padding: 0;
  position: relative;
  left: -10px;
}
/* line 160, ../sass/modal.scss */
.modal .modal-dialog .modal-content .fav-deal .inner .information .buttons li {
  display: inline-block;
}
/* line 164, ../sass/modal.scss */
.modal .modal-dialog .modal-content .fav-deal .inner .information .buttons li.redeem button:before {
  content: "\e125";
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  margin-right: 10px;
  position: relative;
  top: 2px;
}
/* line 176, ../sass/modal.scss */
.modal .modal-dialog .modal-content .fav-deal .inner .information .buttons li.hide_btn button:before {
  content: "\e126";
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  margin-right: 10px;
  position: relative;
  top: 2px;
}
/* line 188, ../sass/modal.scss */
.modal .modal-dialog .modal-content .fav-deal .inner .information .buttons li.notify button:before {
  content: "\e101";
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  margin-right: 10px;
  position: relative;
  top: 2px;
}
/* line 200, ../sass/modal.scss */
.modal .modal-dialog .modal-content .fav-deal .inner .information .buttons li.share button:before {
  content: "\e066";
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  margin-right: 10px;
  position: relative;
  top: 2px;
}
/* line 210, ../sass/modal.scss */
.modal .modal-dialog .modal-content .fav-deal .inner .information .buttons li button {
  position: relative;
  text-align: center;
  display: inline-block;
  font-size: 15px;
  padding: 10px 35px;
  border-radius: 30px;
  border: 2px solid #f7931e;
  background: transparent;
  margin-right: 10px;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #f7931e;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
  -webkit-transition: .2s;
  -o-transition: .2s;
  -ms-transition: .2s;
  -moz-transition: .2s;
}
/* line 229, ../sass/modal.scss */
.modal .modal-dialog .modal-content .fav-deal .inner .information .buttons li button:hover {
  background: #f7931e;
  /* Old browsers */
  background: -moz-linear-gradient(left, #f7931e 0%, #8d3107 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #f7931e 0%, #8d3107 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #f7931e 0%, #8d3107 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7931e', endColorstr='#8d3107',GradientType=0 );
  /* IE6-9 */
  color: white;
}
