/* line 1, ../sass/navigation.scss */
.navbar {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f7931e+0,8d3107+100 */
  background: #f7931e;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f7931e 0%, #8d3107 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #f7931e 0%, #8d3107 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #f7931e 0%, #8d3107 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7931e', endColorstr='#8d3107',GradientType=0 );
  /* IE6-9 */
  height: 75px;
}
/* line 9, ../sass/navigation.scss */
.navbar .navbar-brand {
  float: left;
  height: auto;
  font-size: 18px;
  line-height: 40px;
  width: 250px;
  height: 100%;
}
/* line 16, ../sass/navigation.scss */
.navbar .navbar-brand img {
  width: 100%;
  height: auto !important;
}
/* line 21, ../sass/navigation.scss */
.navbar .toggle {
  display: inline-block;
  position: absolute;
  height: 50px;
  width: 50px;
  right: 20px;
  top: 10px;
  cursor: pointer;
  padding: 3px 0;
}
/* line 30, ../sass/navigation.scss */
.navbar .toggle span {
  display: block;
  width: 100%;
  height: 8px;
  border-radius: 10px;
  background: white;
  margin: 5px auto;
}

/* Options */
/* line 42, ../sass/navigation.scss */
.v-options-container-outer {
  position: absolute;
  height: 100vh;
  background: #4D4D4D;
  width: 30%;
  padding-top: 100px;
  margin: 0;
  left: 0;
  box-shadow: inset -5px 5px 30px rgba(0, 0, 0, 0.75);
}
/* line 51, ../sass/navigation.scss */
.v-options-container-outer .v-options-container-inner {
  margin: 0;
  position: relative;
  height: 100%;
}
/* line 55, ../sass/navigation.scss */
.v-options-container-outer .v-options-container-inner .row {
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: 0;
  height: auto;
}
/* line 61, ../sass/navigation.scss */
.v-options-container-outer .v-options-container-inner .row .options-row-caption {
  font-family: 'Open Sans Condensed', sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 800;
  display: inline-block;
  width: 100%;
  padding: 25px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
/* line 71, ../sass/navigation.scss */
.v-options-container-outer .v-options-container-inner .row .options-row-caption:first-of-type {
  border-top: none;
}
/* line 75, ../sass/navigation.scss */
.v-options-container-outer .v-options-container-inner .row .options-row-caption#profile .profile-image {
  padding: 0;
  height: 100%;
  width: 65px;
  display: inline-block;
  position: relative;
  margin: 0 20px 0 20px;
}
/* line 82, ../sass/navigation.scss */
.v-options-container-outer .v-options-container-inner .row .options-row-caption#profile .profile-image:after {
  content: '';
  width: 117%;
  height: 116%;
  background: url(../images/white_bg.png);
  background-size: 100% 100%;
  display: inline-block;
  position: absolute;
  top: -5px;
  left: -6px;
  z-index: 00;
}
/* line 94, ../sass/navigation.scss */
.v-options-container-outer .v-options-container-inner .row .options-row-caption#profile .profile-image img {
  margin: 0 auto;
  display: inline-block;
  width: 100%;
  left: 0;
  height: auto;
  -webkit-mask-image: url(../images/mask.png);
  mask-image: url(../images/mask.png);
  -webkit-mask-position: left left;
  mask-position: left left;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  position: relative;
  z-index: 1;
}
/* line 112, ../sass/navigation.scss */
.v-options-container-outer .v-options-container-inner .row .options-row-caption#profile .gear {
  width: 30px;
  height: 30px;
  top: 15px;
  position: relative;
  float: right;
  display: inline-block;
  right: 15px;
  opacity: .5;
  -webkit-transition: .2s;
  -o-transition: .2s;
  -ms-transition: .2s;
  -moz-transition: .2s;
}
/* line 125, ../sass/navigation.scss */
.v-options-container-outer .v-options-container-inner .row .options-row-caption#profile .gear:hover {
  opacity: 1;
  -webkit-transform: scale(1.1) rotate(180deg);
  -o-transform: scale(1.1) rotate(180deg);
  -ms-transform: scale(1.1) rotate(180deg);
  -moz-transform: scale(1.1) rotate(180deg);
}
/* line 132, ../sass/navigation.scss */
.v-options-container-outer .v-options-container-inner .row .options-row-caption#profile .gear img {
  width: 100%;
  height: 100%;
}
/* line 138, ../sass/navigation.scss */
.v-options-container-outer .v-options-container-inner .row .options-row-caption#login {
  padding-left: 30px;
  -webkit-transition: .2s;
  -o-transition: .2s;
  -ms-transition: .2s;
  -moz-transition: .2s;
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}
/* line 146, ../sass/navigation.scss */
.v-options-container-outer .v-options-container-inner .row .options-row-caption#login:before {
  content: "\e161";
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  margin-right: 15px;
  -webkit-transition: .2s;
  -o-transition: .2s;
  -ms-transition: .2s;
  -moz-transition: .2s;
  color: rgba(255, 255, 255, 0.5);
}
/* line 157, ../sass/navigation.scss */
.v-options-container-outer .v-options-container-inner .row .options-row-caption#login:hover {
  color: white;
}
/* line 159, ../sass/navigation.scss */
.v-options-container-outer .v-options-container-inner .row .options-row-caption#login:hover:before {
  margin-right: 25px;
  color: white;
}
/* line 167, ../sass/navigation.scss */
.v-options-container-outer .v-options-container-inner .row[ui-sref="search"] .options-row-caption {
  padding-left: 30px;
  -webkit-transition: .2s;
  -o-transition: .2s;
  -ms-transition: .2s;
  -moz-transition: .2s;
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}
/* line 175, ../sass/navigation.scss */
.v-options-container-outer .v-options-container-inner .row[ui-sref="search"] .options-row-caption:before {
  content: "\002b";
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  margin-right: 15px;
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: .2s;
  -o-transition: .2s;
  -ms-transition: .2s;
  -moz-transition: .2s;
}
/* line 186, ../sass/navigation.scss */
.v-options-container-outer .v-options-container-inner .row[ui-sref="search"] .options-row-caption:hover {
  color: white;
}
/* line 188, ../sass/navigation.scss */
.v-options-container-outer .v-options-container-inner .row[ui-sref="search"] .options-row-caption:hover:before {
  margin-right: 25px;
  color: white;
}
/* line 196, ../sass/navigation.scss */
.v-options-container-outer .v-options-container-inner #logout {
  font-family: 'Open Sans Condensed', sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  position: absolute;
  bottom: 0;
  text-align: center;
  font-weight: 800;
  display: inline-block;
  width: 100%;
  padding: 20px 0;
  background: #f7931e;
  /* Old browsers */
  background: -moz-linear-gradient(left, #f7931e 0%, #8d3107 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #f7931e 0%, #8d3107 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #f7931e 0%, #8d3107 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7931e', endColorstr='#8d3107',GradientType=0 );
  /* IE6-9 */
  -webkit-transition: .2s;
  -o-transition: .2s;
  -ms-transition: .2s;
  -moz-transition: .2s;
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}
/* line 218, ../sass/navigation.scss */
.v-options-container-outer .v-options-container-inner #logout:before {
  content: "\e163";
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  margin-right: 10px;
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: .2s;
  -o-transition: .2s;
  -ms-transition: .2s;
  -moz-transition: .2s;
}
/* line 229, ../sass/navigation.scss */
.v-options-container-outer .v-options-container-inner #logout:hover {
  color: white;
}
/* line 231, ../sass/navigation.scss */
.v-options-container-outer .v-options-container-inner #logout:hover:before {
  margin-right: 15px;
  color: white;
}

/* Search */
/* line 241, ../sass/navigation.scss */
.search_outer {
  position: absolute;
  height: 100vh;
  background: #4D4D4D;
  width: 30%;
  padding-top: 100px;
  margin: 0;
  left: 0;
  box-shadow: inset -5px 5px 30px rgba(0, 0, 0, 0.75);
  bottom: 0;
  max-width: 320px;
  font-size: 30px;
  color: #fff;
}
/* line 254, ../sass/navigation.scss */
.search_outer .type {
  padding: 30px 0px 30px 100px;
  line-height: 22px;
  display: inline-block;
  width: 95%;
  position: relative;
  vertical-align: top;
  font-family: 'Open Sans Condensed', sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.5);
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  cursor: pointer;
  -webkit-transition: .2s;
  -o-transition: .2s;
  -ms-transition: .2s;
  -moz-transition: .2s;
}
/* line 272, ../sass/navigation.scss */
.search_outer .type:before {
  opacity: .5;
  -webkit-transition: .2s;
  -o-transition: .2s;
  -ms-transition: .2s;
  -moz-transition: .2s;
}
/* line 279, ../sass/navigation.scss */
.search_outer .type:hover {
  color: white;
  padding-left: 105px;
}
/* line 282, ../sass/navigation.scss */
.search_outer .type:hover:before {
  opacity: 1;
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -moz-transform: scale(1.1);
}
/* line 290, ../sass/navigation.scss */
.search_outer .type.selected {
  color: white;
  padding-left: 105px;
  background: #313131;
}
/* line 294, ../sass/navigation.scss */
.search_outer .type.selected:before {
  opacity: 1;
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -moz-transform: scale(1.1);
}
/* line 303, ../sass/navigation.scss */
.search_outer .type#food:before {
  content: '';
  display: inline-block;
  position: absolute;
  width: 40px;
  height: 40px;
  left: 40px;
  top: 19px;
  background: url(../images/food_icon.png) no-repeat;
  background-size: 100% 100%;
}
/* line 316, ../sass/navigation.scss */
.search_outer .type#entertainment:before {
  content: '';
  display: inline-block;
  position: absolute;
  width: 40px;
  height: 40px;
  left: 40px;
  top: 19px;
  background: url(../images/enter_icon.png) no-repeat;
  background-size: 100% 100%;
}
/* line 328, ../sass/navigation.scss */
.search_outer .type#retail {
  border-top: 0;
}
/* line 330, ../sass/navigation.scss */
.search_outer .type#retail:before {
  content: '';
  display: inline-block;
  position: absolute;
  width: 40px;
  height: 40px;
  left: 40px;
  top: 19px;
  background: url(../images/retail_icon.png) no-repeat;
  background-size: 100% 100%;
}
/* line 343, ../sass/navigation.scss */
.search_outer .type#travel:before {
  content: '';
  display: inline-block;
  position: absolute;
  width: 40px;
  height: 40px;
  left: 40px;
  top: 19px;
  background: url(../images/travel_icon.png) no-repeat;
  background-size: 100% 100%;
}
/* line 356, ../sass/navigation.scss */
.search_outer .type#services:before {
  content: '';
  display: inline-block;
  position: absolute;
  width: 40px;
  height: 40px;
  left: 40px;
  top: 19px;
  background: url(../images/services_icon.png) no-repeat;
  background-size: 100% 100%;
}
/* line 369, ../sass/navigation.scss */
.search_outer .type#price:before {
  content: '$';
  display: inline-block;
  position: absolute;
  left: 40px;
  top: 19px;
}
/* line 378, ../sass/navigation.scss */
.search_outer div[ui-sref="search-adv"] {
  padding: 30px 0px 30px 50px;
  line-height: 22px;
  display: inline-block;
  width: 95%;
  position: relative;
  vertical-align: top;
  font-family: 'Open Sans Condensed', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.5);
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-transition: .2s;
  -o-transition: .2s;
  -ms-transition: .2s;
  -moz-transition: .2s;
}
/* line 396, ../sass/navigation.scss */
.search_outer div[ui-sref="search-adv"]:after {
  content: "\E092";
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  position: absolute;
  right: 30px;
  top: 30px;
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: .2s;
  -o-transition: .2s;
  -ms-transition: .2s;
  -moz-transition: .2s;
}
/* line 409, ../sass/navigation.scss */
.search_outer div[ui-sref="search-adv"]:hover {
  color: white;
}
/* line 411, ../sass/navigation.scss */
.search_outer div[ui-sref="search-adv"]:hover:after {
  right: 20px;
  color: white;
}
/* line 418, ../sass/navigation.scss */
.search_outer .search_area .title {
  padding: 30px 15px 0 15px;
  line-height: 22px;
  display: inline-block;
  position: relative;
  vertical-align: top;
  font-family: 'Open Sans Condensed', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: .2s;
  -o-transition: .2s;
  -ms-transition: .2s;
  -moz-transition: .2s;
}
/* line 434, ../sass/navigation.scss */
.search_outer .search_area input {
  width: 100%;
  color: black;
  font-family: helvetica;
  font-size: 14px;
  height: 35px;
  padding: 3px 5px;
}
