@-moz-document url-prefix() { 
	.deals{
		.fav-deal{
			overflow: hidden;
		}
	}
}
.deals{
	display: block;
	margin-top: 100px;
	.fav-deal{
	  border-radius: 150px;
	  margin-top: 30px;
	  background: transparent;
	  -webkit-transition: .2s;
	  -o-transition: .2s;
	  -ms-transition: .2s;
	  -moz-transition: .2s;
	  &:hover{
		  -webkit-transform: scale(1.1);
		  -o-transform: scale(1.1);
		  -ms-transform: scale(1.1);
		  -moz-transform: scale(1.1);	  	
	  	box-shadow: 3px 3px 10px rgba(0,0,0,.15);
	  }
	  .row{
	  	height: 100%;
	  }
	  .inner{
	  	height: 100%;
	  	overflow: hidden;
	  	.business-image{
	  		padding: 0;
	  		height: 100%;
	  		position: relative;
	  		left: -14px;
	  		z-index: 10;
	  		&:before{
			    content: '';
			    width: 100%;
			    height: 100%;
			    background: url(../images/white_overlay.png);
			    background-size: 100% 100%;
			    display: inline-block;
			    position: absolute;
			    top: 0;
			    left: 25px;
			    z-index: 20;		
	  		}
	  		&:after{
			    content: '';
			    width: 100%;
			    height: 100%;
			    background: url(../images/orange_bg.png);
			    background-size: 100% 100%;
			    display: inline-block;
			    position: absolute;
			    top: 0px;
			    left: 30px;
			    z-index: 21;		
	  		}
		  	img{
		  		margin: 0 auto;
				  display: block;
				  width: 112%;
				  min-height: 200px;
				  height: auto;
				  -webkit-mask-image: url(../images/mask.png);
				  -moz-mask-image: url(../images/mask.png);
				  -ms-mask-image: url(../images/mask.png);
				  -o-mask-image: url(../images/mask.png);
				  mask-image: url(../images/mask.png);
				  -webkit-mask-position: left left;
				  -moz-mask-position: left left;
				  -o-mask-position: left left;
				  -ms-mask-position: left left;
				  mask-position: left left;
				  -webkit-mask-size: 106% 100%;
				  -moz-mask-size: 106% 100%;
				  -o-mask-size: 106% 100%;
				  -ms-mask-size: 106% 100%;
				  mask-size: 106% 100%;
				  -webkit-mask-repeat: no-repeat;
				  mask-repeat: no-repeat;
				  position: relative;
				  z-index: 1;
		  	}
		  }
		  .information{
		    padding: 20px 0 0 100px;
		    position: relative;
		    height: 100%;
		    width: 60.5%;
		    display: inline-block;
		    background: white;
		    min-height: 200px;
		    margin: 0px -16px 0 -60px;
		  	a{
		  		font-family: 'Open Sans Condensed', sans-serif;
		  		color: #f7931e;
		  		font-weight: 700;
		  		font-size: 14px;
		  	}
		  	p{
		  		font-family: 'Open Sans Condensed', sans-serif;
		  		font-size: 20px;
		  	}
		  }
			.ratings{
				display: inline-block;
				height: 200px;
				position: relative;
			  .buttons{
					display: inline-block;
					height: 101%;
					width: 120.5%;
			  	.like_btn{
			  		display: inline-block;
			  		width: 100%;
			  		height: 50%;
		  			button{
				  		display: inline-block;
				  		width: 100%;
				  		height: 100%;
				  		border: none; 
				  		opacity: .65;
				  		border-radius: 0 120px 0 0;
				  		-webkit-transition: .2s;
				  		-o-transition: .2s;
				  		-ms-transition: .2s;
				  		-moz-transition: .2s;
		  				/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f7931e+0,8d3107+100 */
							background: #f7931e; /* Old browsers */
							background: -moz-linear-gradient(top, #f7931e 0%, #8d3107 100%); /* FF3.6-15 */
							background: -webkit-linear-gradient(top, #f7931e 0%,#8d3107 100%); /* Chrome10-25,Safari5.1-6 */
							background: linear-gradient(to bottom, #f7931e 0%,#8d3107 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
							filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7931e', endColorstr='#8d3107',GradientType=0 ); /* IE6-9 */
							img{
								width:30%;
								margin: 0 auto;
								position: relative;
								left: -10px;
							}
							p{
								position: relative;
								left: -10px;
								font-size: 16px;
								color: white;
					  		font-family: 'Open Sans Condensed', sans-serif;
					  		text-transform: uppercase;
							}
							&:hover{
								opacity: 1;
							}
						}
			  	}
					.hide_btn{
			  		display: inline-block;
			  		width: 100%;
			  		height: 50%;
		  			button{
				  		display: inline-block;
				  		width: 100%;
				  		height: 100%;
				  		border: none;
				  		border-radius: 0 0 120px 0; 
				  		opacity: .65;
				  		-webkit-transition: .2s;
				  		-o-transition: .2s;
				  		-ms-transition: .2s;
				  		-moz-transition: .2s;
		  				/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f7931e+0,8d3107+100 */
							background: #333333; /* Old browsers */
							background: -moz-linear-gradient(top, #333333 0%, #B3B3B3 100%); /* FF3.6-15 */
							background: -webkit-linear-gradient(top, #333333 0%,#B3B3B3 100%); /* Chrome10-25,Safari5.1-6 */
							background: linear-gradient(to bottom, #333333 0%,#B3B3B3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
							filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#B3B3B3',GradientType=0 ); /* IE6-9 */
							img{
								width:30%;
								margin: 0 auto;
								position: relative;
								left: -10px;
							}
							p{
								position: relative;
								left: -10px;
								font-size: 16px;
								color: white;
					  		font-family: 'Open Sans Condensed', sans-serif;
					  		text-transform: uppercase;
							}
							&:hover{
								opacity: 1;
							}
						}
			  	}			  	
			  }
			}
		  .social{
		  	position: absolute;
		  	bottom: 20px;
		    left: 30%;
		    font-size: 11px;
		    font-weight: bold;
		    color: rgba(0,0,0,.65);
		  }
	  }
		.more{
			text-align: center;
			border-top: 1px solid rgba(0,0,0,.15);
			padding-top: 25px;
			margin-top: 15px;
			width: 90%;
		  .amount{
		  	position: relative;
		  	text-align: center;
		  	display: inline-block;
		  	padding: 5px 20px;
		  	border-radius: 20px;
		  	border: 2px solid #f7931e;
		  	background: white;
		  	margin-right: 15px;
		  	font-family: 'Open Sans Condensed', sans-serif;
		  	color: #f7931e;
		  	font-weight: bold;
		  	cursor: pointer;
	  		-webkit-transition: .2s;
	  		-o-transition: .2s;
	  		-ms-transition: .2s;
	  		-moz-transition: .2s;		  	
		  	&:hover{
  				/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f7931e+0,8d3107+100 */
					background: #f7931e; /* Old browsers */
					background: -moz-linear-gradient(top, #f7931e 0%, #8d3107 100%); /* FF3.6-15 */
					background: -webkit-linear-gradient(top, #f7931e 0%,#8d3107 100%); /* Chrome10-25,Safari5.1-6 */
					background: linear-gradient(to bottom, #f7931e 0%,#8d3107 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7931e', endColorstr='#8d3107',GradientType=0 ); /* IE6-9 */
					color: white;
		  	}
		  	.number{
		  		display: inline-block !important;
		  		cursor: pointer !important;
		  	}
		  	.type{
		  		cursor: pointer !important;
		  		display: inline-block;
		  		&:after{
		  			content: "\e114";
  			    display: inline-block;
				    font-family: 'Glyphicons Halflings';
				    position: relative;				    
				    font-size: 12px;
				    position: relative;
				    top: 2px;
				    margin-left: 10px;
		  		}
		  	}
		  }
		  .share{
		  	padding: 5px 20px;
		  	border-radius: 20px;
		  	border: 2px solid #f7931e;
		  	display: inline-block;
		  	background: transparent;
		  	font-family: 'Open Sans Condensed', sans-serif;
		  	color: #f7931e;
		  	font-weight: bold;
		  	cursor: pointer;
	  		-webkit-transition: .2s;
	  		-o-transition: .2s;
	  		-ms-transition: .2s;
	  		-moz-transition: .2s;
	  		&:after{
	  			content: "\e080";
			    display: inline-block;
			    font-family: 'Glyphicons Halflings';
			    position: relative;				    
			    font-size: 12px;
			    position: relative;
			    top: 2px;
			    margin-left: 10px;
	  		}	  				  	
		  	&:hover{
  				/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f7931e+0,8d3107+100 */
					background: #f7931e; /* Old browsers */
					background: -moz-linear-gradient(top, #f7931e 0%, #8d3107 100%); /* FF3.6-15 */
					background: -webkit-linear-gradient(top, #f7931e 0%,#8d3107 100%); /* Chrome10-25,Safari5.1-6 */
					background: linear-gradient(to bottom, #f7931e 0%,#8d3107 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7931e', endColorstr='#8d3107',GradientType=0 ); /* IE6-9 */
					color: white;
		  	}
		  }
		}
	}
}