.login{
	margin: 50px 0 0 0;
	position: relative;
	z-index: 10000;
	display: inline-block;
	width: 100%;	
	&.register{
		form{
			.form-group{
				margin-left: -10px;
				margin-right: -10px; 
				label{
				font-size: 10px;
				font-weight: 800;
				top: 0px !important;
				left: 15px !important;					
		    	&:before{
		        display: none!important;
		    	}
			  }
			  input{
			    padding-top: 9px;
			    padding-left: 24px;
			    font-weight: 800;
			    font-size: 14px;
			  }
			}
		}
	}
	&:after{
    content: " ";
    background: url(../images/bg.png) no-repeat;
    background-size: cover;
    display: inline-block;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -240;
    left: 0;
    top: 0;
	}
	form{
		.form-group{
			position: relative;
			margin-left: -10px;
			margin-right: -10px;
			margin-bottom: 20px;
			label{
		    position: absolute;
		    left: 20px;
		    top: 6px;
		    font-family: 'Open Sans Condensed', sans-serif;
		    font-weight: 300;
		    text-transform: uppercase;
		    font-size: 18px;
		    letter-spacing: .15px;
		    color: rgba(0,0,0,.65);
		    -webkit-transition: .2s;
		    -o-transition: .2s;
		    -ms-transition: .2s;
		    -moz-transition: .2s;
				padding: 5px 10px;
		    &[for="inputEmail"]{
		    	top: 6px;
		    	&:before{
    		    content: "\e008";
		        font-family: 'Glyphicons Halflings';
		        display: inline-block;
		        margin-right: 10px;
		        position: relative;
		        top: 2px;
		    	}
		    }
		    &[for="inputPassword"]{
		    	top: 5px;
		    	&:before{
		        content: "\e033";
		        font-family: 'Glyphicons Halflings';
		        display: inline-block;
		        margin-right: 10px;
		        position: relative;
		        top: 2px;
		    	}
		    }		    
			}
			input{
				border-radius: 50px;
				height: 50px;
				font-weight: 300;
				font-family: 'Open Sans Condensed', sans-serif;
				font-size: 15px;
				padding: 0 0 0 25px;
				&:focus + label{
					top: -14px;
					background: white;
					border-radius: 15px;
					-webkit-transform: scale(.75);
					-ms-transform: scale(.75);
					-o-transform: scale(.75);
					-moz-transform: scale(.75);
				}
			}
		}		
		.submit{
			button{
				width: 100%;
				border: none;
				background: #FF931E;
				color: white;
				font-family: 'Open Sans Condensed', sans-serif;
				text-transform: uppercase;
				font-size: 22px;
				font-weight: 800;
				padding: 10px 0;
				border-radius: 40px;
				text-shadow: 2px 2px 3px rgba(0, 0, 0, .5) !important;
				letter-spacing: 1px;
		    -webkit-transition: .2s;
		    -o-transition: .2s;
		    -ms-transition: .2s;
		    -moz-transition: .2s;			
				&:hover{
					-webkit-transform: scale(1.05);
					-ms-transform: scale(1.05);
					-o-transform: scale(1.05);
					-moz-transform: scale(1.05);
					box-shadow: 2px 2px 5px rgba(0,0,0,.15); 
				}
				&:focus{
					background-color: #FF931E; 
					-webkit-transform: scale(1);
					-ms-transform: scale(1);
					-o-transform: scale(1);
					-moz-transform: scale(1);					
					box-shadow: inset 0px 0px 3px rgba(0,0,0,.65); 
				}				
			}
		}
		.forgot{
			text-align: center;
			margin: 20px 0 0 0;
			a{
				font-family: 'Open Sans Condensed', sans-serif;
				text-transform: uppercase;
				font-size: 14px;
				font-weight: 800;
				color: white;
				opacity: .5;
				&:hover{
					opacity: 1;
				}
			}
		}
	}
	.details{
		text-align: center;
		font-family: 'Open Sans Condensed', sans-serif;
		text-transform: uppercase;
		font-size: 14px;
		font-weight: 300;
		color: white;
		.btn-primary{
			font-family: 'Open Sans Condensed', sans-serif;
			text-transform: uppercase;
			font-size: 25px;
			font-weight: 800;
			color: white;
			background-color: transparent !important;
			border: none !important;
			box-shadow: none;
			text-shadow: none !important;  
			text-decoration: underline;
			opacity: .75;
			display: block;
			&:hover{
				opacity: 1;
			}
		}
		.btn-info{
			font-family: 'Open Sans Condensed', sans-serif;
			text-transform: uppercase;
			font-size: 12px;
			font-weight: 800;
			color: white;
			background: transparent;
			border: none;
			box-shadow: none;
			text-shadow: none;  
			opacity: .75;
			display: block;
			&:hover{
				opacity: 1;
			}			
		}		
	}			
}
.forgot{
	.col-xs-12{
		padding: 5px !important;
	}
	input[ng-model="forgotPassword.email"]{
		border-radius: 50px 0 0 50px !important;
	}
	.btn{
		border-radius: 0 50px 50px 0 !important;
		font-weight: 800 !important;
	}
}