@media screen and (max-width: 1200px){
	.deals {
		.fav-deal {
			.inner {
				.information{
					width: 60%;
					min-height: 205px;
				}
				.ratings {
					.buttons {
						.like_btn{
							height: 50.5%;
						}
						.hide_btn{
							height: 50.5%;	
						}
					}
				}
			}
		}
	}
}
@media screen and (max-width: 991px){
	body{
		background-color: green;
	}
	.deals{
		width: 100% !important;
		.fav-deal {
			background: transparent;
			.inner {
				.business-image{
			    img{
			    	width: 112%;
			    	min-height: 205px;
				    -webkit-mask-size: 106% 101%;
				    mask-size: 106% 101%;
				    top: 0px;
				    &:after{
				    	width: 125%;
					    height: 120%;
					    top: 0px;
				    }
			    }
				}
				.information {
					p{
						font-size: 16px;
					}
				}
			}
		}
	}
}
@media screen and (max-width: 600px){
	.deals {
		.fav-deal {
			border-radius: 50px;
			.inner {
				.business-image{
					left: -10px;
					top: 30px;
					&:after{
						left: 6px;
						width: 90%;
						height: 111%;
					}
					img{
				    -webkit-mask-size: 100% 100%;
				    mask-size: 100% 100%;
						width: 80%;
					}
				}	
				.information{
					text-align: center;
					padding: 0 0 0 0;
					a{
						font-size: 18px;
					}
					p{
						font-size: 24px;
					}
				}
				.more {
					.amount{
						font-size: 18px;
						margin-bottom: 5px;
					}
					.share{
						font-size: 18px;
					}
				}
				.ratings{
					margin-top: 10px;
					.buttons{
						width: 100%;
						height: auto;
						.like_btn{
							height: auto;
							button{
								border-radius: 25px 25px 0 0;
								padding: 0px 0 10px 0;
								text-align: center;
								img{
									display: block;
									width: 35%;
									left: 0;
									margin-top: 20px;
								}
								p{
									display: inline-block;
									font-size: 25px;
									margin-bottom: 0;
									top: 0px;
									position: relative;
									left: 0;
								}
							}
						}
						.hide_btn{
							height: auto;
							button{
								border-radius: 0 0 25px 25px;
								padding: 5px 0 10px 0;
								text-align: center;
								img{
									display: block;
									width: 35%;
									left: 0;
									margin-top: 10px;
								}
								p{
									text-align: center;
									display: inline-block;
									font-size: 25px;
									margin-bottom: 0;
									left: 0;
									top: 0px;
									position: relative;
								}
							}
						}						
					}
				}
				.social{
					left: 40px;
					right: inherit;
					bottom: 20px;
					text-align: center;
				}
			}
		}
	}
	.modal {
		.modal-dialog{
			min-width: 90%;
			.modal-content {
				.fav-deal {
					.inner {
						.business-image {
							&:after{
								width:90%;
								left:5%;
								height: 120%;
							}
							img{
								width: 80%;
							  -webkit-mask-size: 100% 100%;
							  mask-size: 100% 100%;
							}
							.amount{
								position: relative;
								top: 20px;
							}
						}
						.information{
							margin-top: 60px;
							padding: 0;
							text-align: center;
							.fave{
								position: relative;
								right: 0;
								button{
									width: 100%;
									font-size: 20px
								}
								span{
									font-size: 12px;
								}
							}
							a{
								font-size: 18px;
								margin-top: 35px;
							}
							p{
								font-size: 28px;
							}
							.more {
								.full-desc {
									font-size: 16px;
									a{
										font-size: 16px;
									}
								}
							}
							.buttons{
								left: 0;
								width: 100%;
								li{
									width: 100%;
									margin-bottom: 5px;
									button{
										width: 100%;
										font-size: 16px;
									}
								}
							}
						}
					}
				}
			}
		}
	}
	.search_outer{
		width: 100%;
		max-width: 100%;
	}
	.v-options-container-outer{
		width: 100%;
		max-width: 100%;
	}
}

@media screen and (max-width: 670px){
	.deals {
		.fav-deal {
			.inner {
				background: white;
				border-radius: 10px;
				.business-image{
			    left: 0;
			    top: 20px;
			    right: 0;
			    text-align: center;
			    width: 40%;
			    max-width: 150px;
			    margin: 0 auto;
			    display: block;
					&:after{
				    left: 6px;
				    width: 100%;
				    height: 100%;
					}
					img{
				    -webkit-mask-size: 100% 100%;
				    mask-size: 100% 100%;
						width: 100%;
						min-height: auto;
					}
				}	
				.information{
					margin-top: 20px;
					width: 50%;
					margin-left: 10%;
					padding-left: 0;
					text-align: left;
					.company{
						margin-top: 25px;
						display: inline-block;
						font-size: 25px;
					}
					p{
						font-size: 25px;
					}
					.more{
				    left: -85%;
				    width: 190%;
				    top: 170px;
				    position: absolute !important;
  					padding: 0;
						border-top: none;
				    .amount{
				    	width: 45%;
				    }
				    .share{
				    	width: 45%;
				    }
    			}
				}
				.ratings{
					width: 100%;
					padding: 0;
					height: auto;
					margin: 40px 0 50px;
					.buttons{
						width: 100%;
						.like_btn{
							button{
								height: 50px;
								border-radius: 15px 15px 0 0;
								img{
									width: 8%;
									display: inline-block;
									top: -3px;
								}
								p{
									top: 4px;
									position: relative;
									font-size: 23px;
								}
							}
						}
						.hide_btn{
							button{
								height: 50px;
								border-radius: 0 0 15px 15px;
								img{
									display:inline-block;
									width: 8%;
									top: 3px;
								}
								p{
									top: -2px;
									position: relative;
									font-size: 23px;
								}
							}
						}						
					}
				}
				.social{
					left: 40px;
					right: inherit;
					bottom: 20px;
					text-align: center;
				}
			}
		}
	}
	.modal {
		.modal-dialog{
			min-width: 90%;
			.modal-content {
				.fav-deal {
					.inner {
						.business-image {
							&:after{
								width:90%;
								left:5%;
								height: 120%;
							}
							img{
								width: 80%;
							  -webkit-mask-size: 100% 100%;
							  mask-size: 100% 100%;
							}
							.amount{
								position: relative;
								top: 20px;
							}
						}
						.information{
							margin-top: 60px;
							padding: 0;
							text-align: center;
							.fave{
								position: relative;
								right: 0;
								button{
									width: 100%;
									font-size: 20px
								}
								span{
									font-size: 12px;
								}
							}
							a{
								font-size: 18px;
								margin-top: 35px;
							}
							p{
								font-size: 28px;
							}
							.more {
								.full-desc {
									font-size: 16px;
									a{
										font-size: 16px;
									}
								}
							}
							.buttons{
								left: 0;
								width: 100%;
								li{
									width: 100%;
									margin-bottom: 5px;
									button{
										width: 100%;
										font-size: 16px;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
@media screen and (max-width: 450px){
	.deals {
		.fav-deal {
			.inner {
				.information{
					.company{
						margin-top: 0;
						font-size: 18px;
					}
					p{
						font-size: 20px;
					}
					.more{
				    left: -95%;
				    width: 190%;
				    top: 150px;
				    .amount{
				    	width: 45%;
				    }
				    .share{
				    	width: 45%;
				    }
    			}
				}
				.ratings{
					width: 100%;
					padding: 0;
					height: auto;
					margin: 30px 0 50px;
					.buttons{
						width: 100%;
						.like_btn{
							button{
								height: 50px;
								border-radius: 15px 15px 0 0;
								img{
									width: 8%;
									display: inline-block;
									top: -10px;
								}
								p{
									top: 4px;
									position: relative;
									font-size: 23px;
								}
							}
						}
						.hide_btn{
							button{
								height: 50px;
								border-radius: 0 0 15px 15px;
								img{
									display:inline-block;
									width: 8%;
									top: -3px;
								}
								p{
									top: -2px;
									position: relative;
									font-size: 23px;
								}
							}
						}						
					}
				}
				.social{
					left: 40px;
					right: inherit;
					bottom: 20px;
					text-align: center;
				}
			}
		}
	}
	.modal {
		.modal-dialog{
			min-width: 90%;
			.modal-content {
				.fav-deal {
					.inner {
						.business-image {
							&:after{
								width:90%;
								left:5%;
								height: 120%;
							}
							img{
								width: 80%;
							  -webkit-mask-size: 100% 100%;
							  mask-size: 100% 100%;
							}
							.amount{
								position: relative;
								top: 20px;
							}
						}
						.information{
							margin-top: 60px;
							padding: 0;
							text-align: center;
							.fave{
								position: relative;
								right: 0;
								button{
									width: 100%;
									font-size: 20px
								}
								span{
									font-size: 12px;
								}
							}
							a{
								font-size: 18px;
								margin-top: 35px;
							}
							p{
								font-size: 28px;
							}
							.more {
								.full-desc {
									font-size: 16px;
									a{
										font-size: 16px;
									}
								}
							}
							.buttons{
								left: 0;
								width: 100%;
								li{
									width: 100%;
									margin-bottom: 5px;
									button{
										width: 100%;
										font-size: 16px;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}