.modal{
	.modal-dialog{
		min-width: 800px;
		position: relative;
		margin-top: 50px;
		.close{
	    position: absolute;
	    top: -30px;
	    opacity: .5;
	    right: -30px;
	    color: white;
	    font-size: 35px;
	    &:hover{
	    	opacity: 1;
	    }
		}
		.modal-content{
			overflow: hidden;
			background: white;
			border-radius: 50px;
			.bg_image{
		    position: absolute;
		    left: 0;
		    top: 0;
		    width: 100%;
		    overflow: hidden;
		    img{
		    	width: 100%; 
		    	opacity: .05;
		    }
			}
			.fav-deal{
				border-radius: 20px;
				.inner{
			  	.business-image{
			  		padding: 0;
			  		height: 100%;
			  		position: relative;
			  		left: 0;
			  		top: 35px;
			  		&:after{
					    content: '';
					    width: 93%;
					    height: 105%;
					    background: url(../images/orange_bg_2.png) no-repeat;
					    background-size: 100% 83%;
					    display: inline-block;
					    position: absolute;
					    top: -5%;
					    left: -1%;
					    z-index: 00;
			  		}
				  	img{
				  		margin: 0 auto;
						  display: block;
						  width: 90%;
						  height: auto;
						  -webkit-mask-image: url(../images/mask.png);
						  mask-image: url(../images/mask.png);
						  -webkit-mask-position: left left;
						  mask-position: left left;
						  -webkit-mask-size: 90% 90%;
						  mask-size: 90% 90%;
						  -webkit-mask-repeat: no-repeat;
						  mask-repeat: no-repeat;
						  position: relative;
						  z-index: 1;
				  		border-radius: 150px 0 150px 150px;
				  		overflow: hidden;						  
				  	}
				  	.amount{
		  		    font-family: 'Open Sans Condensed', sans-serif;
					    color: #f7931e;
					    font-weight: 700;
					    font-size: 22px;
					    text-transform: uppercase;
					    text-align: center;
				  	}
				  }
				  .information{
				  	padding: 20px 0 0 30px;
				  	position: relative;
				  	height: 100%;
				  	display: inline-block;
				  	.fave{
				  		position: absolute;
				  		right: 20px;
				  		top: 20px;
				  		text-align: center;
				  		button{
					  		position: relative;
						  	text-align: center;
						  	display: inline-block;
						  	font-size: 16px;
						  	padding: 7px 20px;
						  	border-radius: 30px;
						  	border: 2px solid #f7931e;
						  	background: transparent;
						  	font-family: 'Open Sans Condensed', sans-serif;
						  	color: #f7931e;
						  	font-weight: bold;
						  	cursor: pointer;
						  	text-transform: uppercase;
					  		-webkit-transition: .2s;
					  		-o-transition: .2s;
					  		-ms-transition: .2s;
					  		-moz-transition: .2s;	
					  		&:hover{
									background: #f7931e; /* Old browsers */
									background: -moz-linear-gradient(left, #f7931e 0%, #8d3107 100%); /* FF3.6-15 */
									background: -webkit-linear-gradient(left, #f7931e 0%,#8d3107 100%); /* Chrome10-25,Safari5.1-6 */
									background: linear-gradient(to right, #f7931e 0%,#8d3107 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
									filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7931e', endColorstr='#8d3107',GradientType=0 ); /* IE6-9 */
									color: white;
					  		}				  			
				  		}
				  		span{
				  			display: block;
				  			font-size: 10px;
				  			font-weight: bold;
				  			color: rgba(0,0,0,.45);
				  			margin-top: 5px;
				  		}
				  	}
				  	a{
				  		font-family: 'Open Sans Condensed', sans-serif;
				  		color: #f7931e;
				  		font-weight: 700;
				  		font-size: 14px;
				  		margin-top: 25px;
				  		display: inline-block;
				  	}
				  	p{
				  		font-family: 'Open Sans Condensed', sans-serif;
				  		font-size: 20px;
				  	}
				  	.more{
				  		border-top: 1px solid rgba(0,0,0, .15);
				  		.full-desc{
				  			padding: 0;
			  			  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
				  			font-size: 14px;
				  			margin-top: 20px;
				  			line-height: 22px;
				  			color: rgba(0,0,0,.65);
				  			a{
				  				display: block;
				  				margin-top: 20px;
				  				font-size: 12px;
				  			}
				  		}
				  	}
						.buttons{
							list-style: none;
							margin: 25px 0 40px;
							display: inline-block;
							padding: 0;
							position: relative;
							left: -10px;
							li{
								display: inline-block;
								&.redeem{
									button{
										&:before{
									    content: "\e125";
									    display: inline-block;
									    font-family: 'Glyphicons Halflings';			
									    margin-right: 10px;
									    position: relative;
									    top: 2px;						    
										}
									}
								}
								&.hide_btn{
									button{
										&:before{
							        content: "\e126";
									    display: inline-block;
									    font-family: 'Glyphicons Halflings';			
									    margin-right: 10px;
									    position: relative;
									    top: 2px;						    
										}
									}
								}								
								&.notify{
									button{
										&:before{
							        content: "\e101";
									    display: inline-block;
									    font-family: 'Glyphicons Halflings';			
									    margin-right: 10px;
									    position: relative;
									    top: 2px;						    
										}
									}
								}	
								&.share{
									button{
										&:before{
							        content: "\e066";
									    display: inline-block;
									    font-family: 'Glyphicons Halflings';			
									    margin-right: 10px;
									    position: relative;
									    top: 2px;						    
										}
									}
								}																	    
						  	button{
						  		position: relative;
							  	text-align: center;
							  	display: inline-block;
							  	font-size: 15px;
							  	padding: 10px 35px;
							  	border-radius: 30px;
							  	border: 2px solid #f7931e;
							  	background: transparent;
							  	margin-right: 10px;
							  	font-family: 'Open Sans Condensed', sans-serif;
							  	color: #f7931e;
							  	font-weight: bold;
							  	cursor: pointer;
							  	text-transform: uppercase;
						  		-webkit-transition: .2s;
						  		-o-transition: .2s;
						  		-ms-transition: .2s;
						  		-moz-transition: .2s;	
						  		&:hover{
										background: #f7931e; /* Old browsers */
										background: -moz-linear-gradient(left, #f7931e 0%, #8d3107 100%); /* FF3.6-15 */
										background: -webkit-linear-gradient(left, #f7931e 0%,#8d3107 100%); /* Chrome10-25,Safari5.1-6 */
										background: linear-gradient(to right, #f7931e 0%,#8d3107 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
										filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7931e', endColorstr='#8d3107',GradientType=0 ); /* IE6-9 */
										color: white;
						  		}
						  	}
							}
						}
				  }				  
				} 
			}
		}
	}	
}