<!DOCTYPE html>
<html lang="en" ng-app="favularApp">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" ty pe="text/css" href="css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700" rel="stylesheet">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<style type="text/css">
		.testClass.ng-hide-add, .testClass.ng-hide-remove {
			transition: all ease 0.25s;
		}
		.testClass.ng-show {
			line-height: inherit;
			color: #000;
		}
		.testClass.ng-hide {
			line-height: 0;
			color: #fff;
		}
	</style>
</head>
<body ng-controller="MainController as main">
	<div ui-view="background" style="z-index: -65535; position: fixed; left: 0; top: 0; right: 0; bottom: 0;"></div>
	<nav class="navbar navbar-fixed-top">
		<div class="navbar-brand" style="position: absolute; width: 100%; left: 0; right: 0; text-align: center; margin: auto;">
			<img src="images/logo_new.png" style="height: 20px; display: inline;max-width: 250px;" />
		</div>
	</nav>
	<nav class="navbar navbar-fixed-top">
		<div class="navbar-brand">
			<img src="images/logo_new.png" style="height: 20px; display: inline;" />
		</div>
		<!--<ul class="nav navbar-nav">
			<li><a href="#">Test</a></li>
			<li><a href="#">Test</a></li>
		</ul>-->
		<a ng-click="main.optionsClicked()" class="toggle">
			<span></span>
			<span></span>
			<span></span>
		</a>	
	</nav>
	<div ui-view class="container deals"></div>
	<!-- Button trigger modal -->
	<script type="text/javascript" src="js/libs.js"></script>
	<script type="text/javascript" src="js/templates.js"></script>
	<script type="text/javascript" src="js/app.js"></script>

	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
	  	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	    <div class="modal-content">
	    	<div class="bg_image"><img ng-src="images/amerks.jpg" src="images/amerks.jpg"></div>
		    <div class="fav-deal col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 inner">
							<div class="col-md-3 col-xs-12 business-image">
								<img ng-src="images/amerks.jpg" src="images/amerks.jpg">
								<div class="amount">
									864 left
								</div>
							</div>
							<div class="col-md-9 col-xs-12 information">
								<div class="fave">
									<button>Fave Us!</button>
									<span>(Follow)</span>
								</div>
								<a class="company ng-binding">Rochester Amerks</a>
								<p class="ng-binding">Free Tickets To Wednesday Night's Game!!</p><div class="more">
								<div class="col-md-12 col-xs-12 full-desc ng-binding">
									Fave this deal and get up to 4 free tickets to see the Rochester Americans face the Utica Comets on Wednesday November 3rd. Your tickets will be held at the Will Call line in the Blue Cross on game day. Hurry, tickets are limited!!
									<a href="#profile">Visit Business Profile</a>
								</div>
								<ul class="buttons">
									<li class="redeem">
										<button>Redeem</button>
									</li>
									<li class="share">
										<button>Share</button>
									</li>									
								</ul>								
							</div>
						</div>
					</div>
				</div>
	    </div>
	  </div>
	</div>
</body>
</html>